	/*iphone5/5s*/
	/*@media (min-device-width: 320px) {
		html {
			font-size: 14px;
		}
	}*/
	/*Galaxy S5*/
	/*@media (min-device-width: 360px) {
		html {
			font-size: 14px;
		}
	}*/
	/*Nexus 5X、Nexus 6P*/
	/*@media (min-device-width: 412px) {
		html {
			font-size: 14px;
		}
	}*/
	/*iphone 6plus、 iphone 7plus、 iphone 8plus*/
	/*@media (min-device-width: 414px) {
		html {
			font-size: 14px;
		}
	}*/
	/*iphone 7、iphone 8、iphone x */
	/*@media (min-device-width: 375px) {
		html {
			font-size: 14px;
		}
	}*/
	/*ipad */
	/*@media (min-device-width: 768px) {
		html {
			font-size: 14px;
		}
	}*/
	/*ipad Pro */
	/*@media (min-device-width: 1024px) {
		html {
			font-size: 14px;
		}
	}*/